<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxc_aUxFJ3Xq4KDIU3ZTt0jEuS773g3f4</string>
	<key>GCM_SENDER_ID</key>
	<string>256482633044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ustaadji.pk.app</string>
	<key>PROJECT_ID</key>
	<string>ustaadji-pk</string>
	<key>STORAGE_BUCKET</key>
	<string>ustaadji-pk.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:256482633044:ios:1976162b3cc8f41c71d4c1</string>
</dict>
</plist>